<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.com">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Ubuntu" />
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">

    <title>QA Simple Tools [HG]!</title>
    <style>
        p{ white-space:pre-wrap;}
        /*body{ font-family: Ubuntu;}*/
        /*body{ font-family: 'Fjalla One', sans-serif;}*/
        body{ font-family: 'Open Sans', sans-serif;}
        .position span {
            vertical-align: middle;
        }

    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!--a class="navbar-brand" href="/">QA Helper</a-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav" style="alignment: center">
            <a class="nav-item nav-link active" style="position: relative; align-items: center" href="/">
                <div style="align-items: center">
                    <i class="material-icons" style="display: table; margin: 0 auto">
                        home
                    </i>
                </div>
                <span style="display: block">
                Home
                </span>
                <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/cssmapping">
                <div style="align-items: center">
                    <i class="material-icons" style="display: table; margin: 0 auto">
                        compare_arrows
                    </i>
                </div>
                <span style="display: block">
                CSS Mapping
                </span>
            </a>
            <a class="nav-item nav-link disabled" href="#">
                <div style="align-items: center">
                    <i class="material-icons" style="display: table; margin: 0 auto">
                        notes
                    </i>
                </div>
                <span style="display: block">
                Useful Methods
                </span>
            </a>
            <a class="nav-item nav-link" href="/contact">
                <div style="align-items: center">
                    <i class="material-icons" style="display: table; margin: 0 auto">
                        email
                    </i>
                </div>
                <span style="display: block">
                Contact
                </span>
            </a>
            <!--a class="nav-item nav-link disabled" href="#">Disabled</a-->
        </div>
    </div>
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</nav>
<br/>

<div style="padding: 30px">
<p>
    Welcome on QA Helper page.
</p>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>